/bin/
/httplocalhost8080_TestSuite-People_Service-All-0-FAILED.txt
/httplocalhost8080_TestSuite-People_Service_TestCase-All-0-FAILED.txt
/httplocalhost8080_TestSuite-httplocalhost8080_TestCase-all-0-FAILED.txt
/.classpath
